.tf__banner {
    height: 911px;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url('../../../public/image/banner_bg.ae2bd141.jpg');
}
