@import "./variables.module.scss";

.header_sticky {
    width: 100%;
    height: 84px;
    background-color: $white;
    position: relative;
    z-index: 999;
    .mtTop {
        padding-top: 22px;
    }
    .menu {
        margin-left: 10%;
    }
    .header_bottom__main_menu nav ul li {
        display: inline-block;
        margin: 8px 25px;
        cursor: pointer;
        transition: all .3s ease-out 0s;
        &>a {
            font-weight: 500;
            font-size: 16px;
            line-height: 14px;
            color: $dark;
            &:hover {
                color: $violet;
            }
        }
        ul.submenu {
            position: absolute;
            background-color: #fff;
            width: 240px;
            z-index: 999;
            margin-left: -1px;
            padding: 1px 0px;
            top: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            box-shadow: 0px 8px 20px rgba(61, 110, 168, 0.2);
            transform: scaleY(0);
            transform-origin: top center;
            text-align: left;
            & li {
                padding: 3px;
                display: block;
                & a {
                    font-weight: 500;
                }
            }
            & li a:hover {
                color: $violet;
                letter-spacing: 1;
                text-decoration: underline;
            }
        }
        &:hover > ul.submenu {
            opacity: 1;
            transform: scaleY(1);
            visibility: visible;
            transition: all 0.3s ease-out 0s;
        }
    }
    .flex_end {
        display: flex;
        justify-content: end;
        .d_md_block {
            margin-right: 35px;
            display: block;
            padding-top: 10px;
            color: $gray;
            font-size: 15px;
            font-weight: 500;
        }
        .number {
            color: $dark;
            padding-left: 3px;
        }
    }
    .buttonfx {
        width: 162px;
        height: 42px;
        color: black;
        outline: none;
        background: transparent ;
        border: none;
        letter-spacing: 0.0625em;
        padding: 8px 10px;
        text-transform: uppercase;
        line-height: 2;
        position: relative;
        display: inline-block;
        text-decoration: none;
        overflow: hidden;
        border-radius: 50px;
        font-weight: 600;
        transition: all .5s;
        z-index: 999;
        cursor: pointer;
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            background: black;
            z-index: -1;
            border-radius: 50px;
            transform: translate3D(0, -100%, 0);
            transition: all .5s;
        }
        &::before {
            background: #ffce5a;
            z-index: -2;
            border-radius: 50px;
            transform: translate3D(0, 0, 0);
        }
        &:hover {
            color: white;
        }
        &:hover::after {
            transform: translate3D(0, 0, 0);
            transition: all .5s;
        }
    } 
    .slidebottomleft::after {
        transform: translate3D(100%, -100%, 0);
    }
}
